/* :root {
    --text-color: rgb(224, 225, 221);
    --bg-color: rgb(13, 27, 42);; */
/* } */

* {
    margin:0;padding:0;
}
.profile-color{
    color: black;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(171, 198, 175);


    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
  }
.ik{
    height: 300px;
    border-radius: 400px;

}

header {
    background-color: rgb(4, 15, 62);
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(224, 225, 221);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
  }
  
  header img {
    max-height: 100px;
    width: auto;
    margin: 0 10px;
  }

  nav {
    display: grid;
    justify-content: space-evenly;
      background-color: rgb(12, 77, 128);
    border: 2px solid black;
    border-top: 0;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  nav a:hover {
    transform: scale(1.2);
  }
.TYSimg{
    width: 200px;
    height: 200px;
 
    border-radius: 20px;
    margin-right: 20px;
}
.about-text1{
text-align: center;
}
.about-text2{
    position: relative;
    top: 9px;
    left: 40px;
 

}
.about-text3{
    position: relative;
    top: 390px;
    left: -70px;
}
.about-text4{
    position: relative;
    top: 150px;
    left: -70px;
 
}

footer{
    position: fixed;
    display: grid;
    background-color: rgb(4, 15, 62);
    bottom: 0px;
    height: 50px;
    color: rgb(224, 225, 221);
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid black;
}

a{
    /* background-color:rgb(65, 90, 119); */
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 80px;
    display: grid;
    justify-content:space-evenly;
    transition: transform 0.3s ease;

}



nav{
    justify-content:space-evenly;
    display: flex;
    background-color: rgb(12, 77, 128);
    border: 2px solid black;
    border-top: 0px;
}
nav a:hover {
    transform: scale(1.2);
  }


.profile {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.profile-container {
    display: flex;
    align-items: center;

}

.profile-image {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    margin-right: 20px;
}

.profile-text {
    flex: 1;
    color: rgb(224, 225, 221);
    background-color: rgb(154, 181, 150);
    border-radius: 20px;
}

.profile-text h2 {

    border-bottom: 3px solid rgb(13, 27, 42);
    display: inline-block;
    padding-bottom: 5px;
}

.cubes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.cube {
    text-align: center;
    color: white;
    font-size: 18px;
}

.cube-box {
    width: 300px;
    height: 250px;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    margin: 35px;
}

p, h2{
    color: black;
}
@media (max-width: 450px) {
/* :root {
--text-color: rgb(224, 225, 221);
--bg-color: rgb(13, 27, 42);; */
/* } */

* {
    margin:0;padding:0;
}
.profile-color{
    color: black;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(171, 198, 175);


    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}


header {
    background-color: rgb(4, 15, 62);
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(224, 225, 221);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid black;
}

header img {
    max-height: 100px;
    width: auto;
    margin: 0 10px;
}

nav {
    display: grid;
    justify-content: space-evenly;
    background-color: rgb(12, 77, 128);
    border: 2px solid black;
    border-top: 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.2);
}
.TYSimg{
    width: 200px;
    height: 200px;

    border-radius: 20px;
    margin-right: 20px;
}
.about-text1{
    text-align: center;
}
.about-text2{
    position: relative;
    top: 9px;
    left: 40px;


}
.about-text3{
    position: relative;
    top: 390px;
    left: -70px;
}
.about-text4{
    position: relative;
    top: 150px;
    left: -70px;

}

footer{
    position: fixed;
    display: grid;
    background-color: rgb(4, 15, 62);
    bottom: 0px;
    height: 50px;
    color: rgb(224, 225, 221);
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid black;
}

a{

    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 80px;
    display: grid;
    justify-content:space-evenly;
    transition: transform 0.3s ease;

}



nav{
    justify-content:space-evenly;
    display: flex;
    background-color: rgb(12, 77, 128);
    border: 2px solid black;
    border-top: 0px;
}
nav a:hover {
    transform: scale(1.2);
}


.profile {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.profile-container {
    display: flex;
    align-items: center;

}

.profile-image {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    margin-right: 20px;
}

.profile-text {
    flex: 1;
    color: rgb(224, 225, 221);
}

.profile-text h2 {
    border-bottom: 3px solid rgb(13, 27, 42);
    display: inline-block;
    padding-bottom: 5px;
}

.cubes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.cube {
    text-align: center;
    color: white;
    font-size: 18px;
}

.cube-box {
    width: 300px;
    height: 250px;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    margin: 35px;
}

p, h2{
    color: black;
}
    .ik{
        height: 200px;
        border-radius: 400px;

    }
}

